@import "variables";
.main-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.code-style {
  font-family: map-get($fonts, main-font);
  line-height: 1.25rem;
  font-size: 1rem;
}
.text-style {
  font-family: map-get($fonts, secondary-font);
  font-size: 1rem;
  color: map-get($colors, text-color);
}
.options-button {
  margin-top: 0.5rem;
  width: 6rem;
  font-size: 1rem;
  text-decoration: none;
  color: map-get($colors, background-color);
  background-color: map-get($colors, text-color);
  font-family: map-get($fonts, secondary-font);
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  &:focus {
    outline: none;
  }
}
